body{
    background-color:#786fa6;
}

#seccprin{
    background-color: #574b90;
    width: 980px;
    margin: 0 auto;
    border-radius: 15px;
}

#secctitle{
    background-color:white;
    padding: 5%;
    text-align: center;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img-redonda{
    border-radius: 50%;
}

.padre{
    display: table;
}

.hijo{
    display: table-cell;
}

.parrafo{
    padding: 20px;
    text-align: center;
}

.title{
    text-align: center;
    font-style: italic;
    color: white;
}

#text-footer{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
